button {
    float:right;
    position: relative;
    margin-right: 0;
    display: inline-block;
    background-color: greenyellow;
    padding: 5px;
    width: 10vw;
    color: black;
    text-align: center;
    border: 2px double black;
    border-radius: 7px;
    font-size: 1.00vw;
    margin-left: 20px;
    cursor: pointer; /* add this line */
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s; /* add this line */
  }

button:hover {
    background-color: blanchedalmond;
}


z {
    position: relative;
    top: 5vw;
    left: 10vw;
    color: greenyellow;
    font-size: 1.5vw;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}
p {
    position: relative;
    top: 1vw;
    left: 14vw;
    color: greenyellow;
    font-size: 3.2vw;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}


x {
    position: relative;
    top: -2vw;
    left: 17vw;
    color: greenyellow;
    font-size: 1.5vw;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}

y {
    position: relative;
    margin-left: 20vw;
}



#myimage{
    height: 4vw;
    width: 4vw;
}

#myimage2{
    height: 4vw;
    width: 4vw;
}

#myimage3{
    height: 4vw;
    width: 4vw;
}

