button {
    float:right;
    position: relative;
    margin-right: 0;
    display: inline-block;
    background-color: greenyellow;
    padding: 5px;
    width: 10vw;
    color: black;
    text-align: center;
    border: 2px double black;
    border-radius: 7px;
    font-size: 1.00vw;
    margin-left: 2vw;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer; /* add this line */
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s; /* add this line */
  }

button:hover {
    background-color: blanchedalmond;
    color: red;
}


z {
    position: relative;
    top: 5vw;
    left: 10vw;
    color: greenyellow;
    font-size: clamp(16px, 3.5vw, 20px);
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}
p {
    position: relative;
    top: 2vw;
    left: 14vw;
    color: greenyellow;
    font-size: clamp(20px, 4.5vw, 50px);
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}


x {
    position: relative;
    top: clamp(-20px, -2vw, 10px);
    left: 17vw;
    color: greenyellow;
    font-size: clamp(16px, 2.5vw, 20px);
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}

y {
    position: relative;
    margin-left: 20vw;
}

buttonBig {
    position: relative;
    top: -5vw;
    left: 15vw;
    margin-left: 4vw;
    display: inline-block;
    background-color: yellowgreen;
    padding: 5px;
    width: 12vw;
    color: black;
    text-align: center;
    border: 2px double black;
    border-radius: 7px;
    font-size: 1.5vw;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer; /* add this line */
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s;

}

buttonBig:hover {
    background-color: blanchedalmond;
    color: red;
}

yx {
    position: relative;
    left: -31vw;
    top: 2vw;
}

yxx {
    position: relative;
    left: -22.25vw;
    top: 2vw;
}

#myimage{
    height: 4vw;
    width: 4vw;
}

#myimage2{
    height: 4vw;
    width: 4vw;
}

#myimage3{
    height: 4vw;
    width: 4vw;
}

